.drawer-dongle{
    background-color:rgba(41,41,41,0.9023984593837535);
    backdrop-filter: blur(6px);
    color: white;
    height: 34px;
    width: 34px;
    position: absolute;
    top:100px;
    right: -34px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    mix-blend-mode: normal;
    text-align: center;
    
}

.arrowRight{
    transform: rotate(180deg);
    transition: all 0.7s ease-in-out;
}

.arrowLeft{
    transform: rotate(-0);
    transition: all 0.7s ease-in-out;
}