body,html{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.description-form{
    width: 100%;
    color: white;
}

.custom-IconButton-flex{
    display:inline-flex !important;
}

.custom-IconButton-none{
    display:none !important;
}



.main-drawer-box{
    background: linear-gradient(90deg, rgba(72,71,70,0.896796218487395) 1%, rgba(25,24,22,0.9023984593837535) 50%, rgba(41,41,41,0.9023984593837535) 99%);
    backdrop-filter: blur(6px);
    height: 100vh;
    position: relative;
    top: 0px;
    left: 0px;
    width: calc(100vw - 34px);
    color: white;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 40px 1fr;
    min-width: 250px;
}



.main-drawer-heading{
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid gray;
    
    
   
}

.main-drawer-heading-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 370px;
    text-align: center;
}


.main-drawer-heading-descriptiopn{
    min-width: 0;
    min-height: 0;
    font-size:small;
    padding: 0.1rem;
    max-height: 8vh;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: wheat #555555;
    margin-bottom: 0.3rem;
}

.main-drawer-heading-descriptiopn::-webkit-scrollbar{
    width: 0.5vw;
}

.main-drawer-heading-descriptiopn::-webkit-scrollbar-thumb{
    background-color: wheat;
}

.main-drawer-controls{
    display: flex;
    min-height: 40px;
    max-height: 40px;
    justify-content: flex-end;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    
}

.custom-icon-button{
    height: 30px;
    width: 30px;
}


.main-dawer-box-tile-container{
    display: grid;
    gap: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: wheat #555555;
    grid-template-rows: min-content;
    padding-right: 1em;
}

.main-dawer-box-tile-container-2c{
    grid-template-columns: 50% 50%;
}

.main-dawer-box-tile-container-1c{
    grid-template-columns: 1fr;
    transition:all 2s ease-in-out;
}

.main-dawer-box-tile-container::-webkit-scrollbar{
    width: 0.5vw;
}
.main-dawer-box-tile-container::-webkit-scrollbar-thumb{
    background-color: wheat;
}






