

.active{
    outline: 3px solid white;
    outline-offset: -3px;
}

.newFlexTile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    flex-direction: column;
    cursor: pointer;
   
}

.newFlexTileImg{

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5%;

    

}

.flex-D-Col{
    flex-direction:column;
}

.flex-D-RowJCs{
    flex-direction:row;
    justify-content:start;
}

.w90{
    width:90%;
}

.w50t{
    width:50%;
    transition: all 0.5s ease;
}
.w100{
    width: 100%;
}

.w35{
    width: 35%;
}

.color-white{
    color: white;
}

.newFlexTileImgTitle{
    overflow: hidden;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
}

