.listImageContainer{
    display: flex;
    align-items: center;
    width: 100%;
}

.listImageContainer{

}

.listImageContainer img{
    object-fit: cover;
    height: 50px;
    width: 90px;
    border-radius: 5%;
}

.listImageTitle{
    font-size: small;
    margin-left: 1rem;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}