body,html{
    margin: 0;
    padding: 0;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

*{
    box-sizing: border-box;
}

.description-form{
    width: 100%;
    color: white;
}

.description-form textarea{
    width: 100%;
    resize: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 62px;
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: wheat #555555;
}

.description-form textarea::-webkit-scrollbar{
    width: 0.5vw;
}
.description-form textarea::-webkit-scrollbar-thumb{
    background-color: wheat;
}

.custom-IconButton-flex{
    display:inline-flex !important;
}

.custom-IconButton-none{
    display:none !important;
}



.icon-button-base-0-0-30-30{
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button-base-0-0-30-30:disabled{

    color: gray;

}
.control-icons-grid{
    height: 20px;
}

.control-icons-list{
    height: 27px;
}

.control-icons-edit-accept{
    height: 20px;
}

.main-drawer-box{
    background: linear-gradient(90deg, rgba(72,71,70,0.896796218487395) 1%, rgba(25,24,22,0.9023984593837535) 50%, rgba(41,41,41,0.9023984593837535) 99%);
    backdrop-filter: blur(6px);
    height: 100vh;
    position: relative;
    top: 0px;
    left: 0px;
    width: calc(100vw - 34px);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 250px;
}



.main-drawer-heading{
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid gray;
}

.main-drawer-heading-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 370px;
    text-align: center;
}


.main-drawer-heading-descriptiopn{
    min-width: 0;
    min-height: 0;
    font-size:small;
    padding: 0.1rem;
    max-height: 6vh;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: wheat #555555;
    margin-bottom: 0.3rem;
}

.main-drawer-heading-descriptiopn::-webkit-scrollbar{
    width: 0.5vw;
}

.main-drawer-heading-descriptiopn::-webkit-scrollbar-thumb{
    background-color: wheat;
}

.main-drawer-controls{
    display: flex;
    min-height: 40px;
    max-height: 40px;
    justify-content: flex-end;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    
}

.custom-icon-button{
    height: 30px;
    width: 30px;
}


.main-dawer-box-tile-container{
    display: grid;
    gap: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: wheat #555555;
    grid-template-rows: min-content;
    padding-right: 1em;
}

.main-dawer-box-tile-container-2c{
    grid-template-columns: 50% 50%;
}

.main-dawer-box-tile-container-1c{
    grid-template-columns: 1fr;
    transition:all 2s ease-in-out;
}

.main-dawer-box-tile-container::-webkit-scrollbar{
    width: 0.5vw;
}
.main-dawer-box-tile-container::-webkit-scrollbar-thumb{
    background-color: wheat;
}

.drawer-dongle{
    background-color:rgba(41,41,41,0.9023984593837535);
    backdrop-filter: blur(6px);
    color: white;
    height: 34px;
    width: 34px;
    position: absolute;
    top:100px;
    right: -34px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    mix-blend-mode: normal;
    text-align: center;
    
}

.drawer-dongle-button{
    background-color:transparent;
    border: 0;
    color: white;
    width: 34px;
    height: 34px;
}

.arrowRight{
    transform: rotate(180deg) translateX(5px);
    transition: all 0.7s ease-in-out;
    
}

.arrowLeft{
    transform: rotate(-0);
    transition: all 0.7s ease-in-out;
}



.active{
    outline: 3px solid white;
    outline-offset: -3px;
}

.newFlexTile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    flex-direction: column;
    cursor: pointer;
    
   
}

.newFlexTile input{
    background-color: transparent;
    color: white;    
    font-size: 11px;
    border: solid transparent;
}

.newFlexTileImg{

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5%;

    

}

.flex-D-Col{
    flex-direction:column;
    
}

.flex-D-RowJCs{
    flex-direction:row;
    justify-content:start;
}

.w90{
    width:90%;
}

.w50t{
    width:50%;
    transition: all 0.5s ease;
}
.w100{
    width: 100%;
}

.w35{
    width: 35%;
}

.color-white{
    color: white;
}

.newFlexTileImgTitle{
    overflow: hidden;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
    min-height: 12px;
}




